* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #e9ebee;
}

.jumbotron {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #7f462c;
    color: #ffffff;
}

#jumbo-header,
#jumbo-lead {
    text-align: center;
}

.card-header,
#submit {
    background-color: #337ab7;
    color: #ffffff;
}